@media (max-width: 1560px) {
    .about::before,
    .about::after,
    .differents__section::after {
        display: none;
    }
}

@media (max-width: 1320px) {
    .welcome__section {
        background: none;
    }

    .welcome__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome__section {
        margin-bottom: 70px;
    }

    .info__section {
        margin-bottom: 70px;
    }

    .about {
        padding: 50px 0;
        margin-bottom: 70px;
    }

    .services {
        margin-bottom: 70px;
    }

    .disinfection__section {
        margin-bottom: 70px;
    }

    .articles__section {
        margin-bottom: 70px;
    }

    .coverages__section {
        margin-bottom: 70px;
    }

    .differents__section {
        padding: 50px 0;
        margin-bottom: 70px;
    }
}

@media (max-width: 1260px) {
    .info__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .differents__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .different {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .different__item:nth-child(2) {
        margin: 0;
    }
    
    .different__list {
        margin: 10px 0 20px;
        gap: 30px;
        justify-content: center;
    }

    .different__text {
        margin: 5px 0 5px;
    }

    .different__span {
        line-height: 200%;
    }

    .different__item {
        align-items: start;
    }

    .advice__section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .advice__wrapper {
        flex-direction: column;
    }

    .advice__top {
        padding-bottom: 45px;
    }

    .advice__bottom {
        padding-top: 45px;
    } 

    .advice__wrapper-form {
        height: auto;
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .footer__wrapper {
        padding: 90px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__copyright {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

@media (max-width: 1197px) {
    .info__list {
        justify-content: center;
    }
}

@media (max-width: 1100px) {
    .disinfection__img {
        display: none;
    }

    .disinfection__wrapper {
        padding: 25px;
        justify-content: center;
    }

    .disinfection {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 1074px) {
    .coverages__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
 
    .coverages {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
       text-align: center;
    }

    .coverages__text {
        margin-top: 0;
    }

    .coverages__lists {
        margin-bottom: 30px;
    }
}

@media (max-width: 953px) {
    .articles__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .article__content {
        padding: 30px;
    }

    .articles__top {
        margin-bottom: 25px;
        gap: 15px;
        text-align: center;  
        flex-direction: column;
    }

    .articles__details-title,
    .articles__details-text {
        text-align: center;
    }
}

@media (max-width: 920px) {
    .header__wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .welcome__wrapper {
       padding: 50px 0;
    }
}

@media (max-width: 817px) {
    .about__results-wrapper {
        gap: 42px;
    }
}

@media (max-width: 800px) {
    .info__wrapper {
        margin-top: 45px;
    }

    .info__list {
        gap: 30px;
    }
}

@media (max-width: 768px) {
   

    .welcome {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome__title {
        width: 100%;
        font-size: 45px;
        text-align: center;
    }

    .welcome__text {
        margin: 10px 0 20px;
        width: 100%;
        font-size: 19px;
        text-align: center;
    }

    .services__top {
        margin-bottom: 55px;
        flex-direction: column;
    }

    .services__top-title {
        text-align: center;
    }

    .disinfection__title {
        margin-bottom: 10px;
    }

    .disinfection__subtitle {
        font-size: 32px;
    }

    .disinfection__text {
        margin: 10px 0 11px;
        font-size: 19px;
    }

    .info-card__title {
        margin-top: 20px;
    }

    .info__links {
        margin-top: 35px;
    }

    .about__result {
        gap: 12px;
    }

    .advice__wrapper-form,
    .form__box textarea {
        width: 100%;
    }

    .form__wrapper {
        align-items: center;
        justify-content: center;
    }

    .form__box input {
        height: 65px;
    }

    .advice__wrapper-form {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media (max-width: 702px) {
    .form__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 690px) {
    .section__text {
        width: 100%;
    }
}

@media (max-width: 630px) {
    .header__nav {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 620px) {
    .form__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .form__box input {
        width: 100%;
    }
}

@media (max-width: 552px) {
    .welcome__links {
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 530px) {
    .footer__wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__wrapper {
        gap: 30px;
    }

    .footer__title {
        margin-bottom: 12px;
    }

    .hours__box-title,
    .hours__box-span {
        font-size: 16px;
    }
}

@media (max-width: 467px) {
    .articles__links {
        gap: 20px;
        flex-direction: column;
    }
}

@media (max-width: 460px) {
    .different__item:nth-child(2) {
        margin: 0;
    }

    .different__list {
        gap: 30px;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .section__title {
        margin-bottom: 10px;
        font-size: 35px;
    }

    .section__text {
        font-size: 17px;
        line-height: 143%;
    }

    .info__wrapper {
        margin-top: 30px;
    }

    .info__link {
        max-width: 160px;
    }

    .info-card__text {
        width: 100%;
    }

    .about__play {
        padding: 40px 40px;
        width: 150px;
        height: 150px;
    }

    .about__result {
        width: 204px;
    }

    .coverages__lists {
        gap: 35px;
    }

    .different__list {
        gap: 20px;
        flex-direction: column;
    }

    .different__content {
        align-self: self-end;
    }

    .different__item {
        align-items: center;
    }

    .different__content-text {
        font-size: 40px;
    }

    .different__item-span {
        font-size: 17px;
    }

    .article__content-text {
        margin-top: 10px;
    }

    .article__content {
        margin-top: -36px;
    }

    .form__box input {
        width: 320px;
        height: 60px;
    }

    .form__box textarea {
        width: 320px;
    }
    
    .articles__link,
    .advice__bottom-link,
    .different__link,
    .coverages__link,
    .disinfection__link:not(.disinfection__link:nth-child(2)),
    .services__top-link,
    .info__link,
    .welcome__link {
        padding: 23px 21px;
        max-width: 200px;
        height: 60px;
        font-size: 16px;
    }

    .result__text {
        font-size: 23px;
    }

    .advice__wrapper-form {
        padding-right: 15px;
        padding-left: 15px;
    }

    .footer__wrapper {
        padding: 55px 0;
        gap: 25px;
    }

    .footer__title {
        margin-bottom: 10px;
    }

    .footer__info {
        gap: 0;
    }

    .footer__advice-tel {
        font-size: 22px;
    }

    .footer__advice-link {
        padding: 23px 21px;
        width: 193px;
        height: 60px;
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    .header__list {
        flex-direction: column;
        align-items: center;
    }

    .burger {
        display: block;
    }

    .header__nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .header__wrapper {
        display: block;
    }

    .header__list {
        position: absolute;
        padding-top: 50px;
        display: none;
        z-index: 110;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        background-color: #fff;
        box-shadow: 0 4px 10px 0 rgba(20, 20, 43, 0.04);
    }

    .welcome__links {
        gap: 20px;
    }

    .info-card__title {
        margin-bottom: 10px;
        font-size: 23px;
    }
    
    .info-card__text {
        font-size: 16px;
    }

    .services-card {
        width: 100%;
    }

    .services-card__title {
        margin-bottom: 5px;
    }

    .services-card__text {
        font-size: 17px;
    }

    .disinfection__title {
        font-size: 14px;
    }

    .disinfection__subtitle {
        font-size: 24px;
    }

    .disinfection__text {
        font-size: 16px;
    }

    .article__content-title {
        font-size: 20px;
    }

    .article__content-text {
        font-size: 19px;
    }

    .advice__top {
        padding-bottom: 35px;
    }

    .advice__bottom {
        padding-top: 35px;
    }

    .feedback__text {
        font-size: 17px;
    }

    .feedback__link {
        font-size: 22px;
    }

    .footer__info-text,
    .footer__contact-text,
    .footer__contact-tel,
    .footer__contact-email,
    .hours__box-span,
    .footer__advice-text {
        font-size: 17px;
    }

    .form__box input {
        width: 300px;
    }

    .form__box textarea {
        width: 300px;
    }

    .links__wrapper {
        margin-top: 10px;
        justify-content: center;
    }
}

@media (max-width: 333px) {
    .welcome__feedback {
        flex-direction: column;
    }

    .feedback__wrapper {
        align-items: center;
    }

    .form__button {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .coverages__lists {
        gap: 20px;
    }

    .article__content-title {
        font-size: 17px;
    }

    .article__content-text {
        font-size: 15px;
    }

    .article__info-link {
        padding: 15px;
        width: 45px;
        height: 40px;
    }

    .article__info-text {
        font-size: 16px;
    }

    .form__box input {
        width: 250px;
    }

    .form__box textarea {
        width: 250px;
    }
}